@model List<YasamIcin.UI.MVC.Models.GelenkutuDTO>

@{
    ViewBag.Title = "Gelenkutusu";
}

<h2>Gelenkutusu</h2>
<table class="table table-striped">
    <tr>
        <td>Kim Mesaj Atmış</td>
        <td>Mesajlar</td>
        <td>Gönderilme Tarihi</td>
    </tr>
    @foreach (var mesaj in Model)
    {
        <tr>
            <td>@mesaj.GonderenIsim <br /> @mesaj.Ulke</td>
            <td>@Html.ActionLink("Mesaj Yolla", "Index", "Mesaj", new { UyeID = mesaj.UyeID }, new { @class = "" })  </td>
            <td>@mesaj.GonderilmeTarihi</td>
        </tr>
        
    }
</table>

